streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
pypdf
faiss-cpu
huggingface-hub
langchain-groq
sentence-transformers
langchain-huggingface
pytesseract
pdf2image
Pillow
google-genai
